.container {
  width: 400px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .cardImage {
    margin-top: 40px;
  }

  .description {
    width: 90%;
    font-size: 13px;
    margin-top: 30px;
    color: rgb(90, 89, 89);
    text-align: center;
  }

  .position {
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
}

.container:hover {
  background-color: #f1f1f1;
}
