.container {
  width: 300px;
  height: 90vh;
  background-color: var(--green);
  position: fixed;
  bottom: 0;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

  .profile {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .avatar {
      width: 150px;
      height: 150px;
      border-radius: 100%;
      background-color: white;
      -webkit-box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 5px 15px -1px rgba(0, 0, 0, 0.15);
    }

    .name {
      font-size: 1.2rem;
      color: white;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      line-height: 18px;
      margin-top: 20px;
    }

    .role {
      font-size: 0.9rem;
      color: white;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      line-height: 22px;
    }

    .menu {
      width: 165px;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;

      .house {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .mail {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .notification {
          width: 10px;
          height: 10px;
          background-color: red;
          position: absolute;
          margin-bottom: 20px;
          margin-left: 25px;
          border-radius: 100%;
          z-index: 2;
        }
      }

      .settings {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
  }

  .board {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.container::-webkit-scrollbar {
  display: none;
}
