.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  font-family: Poppins, sans-serif;

  .centerContainer {
    width: 80%;
    display: flex;
    justify-content: space-around;

    .leftSide {
      width: 60%;
      margin-top: 100px;

      @media screen and (max-width: 1300px) {
        width: 100%;
        margin-top: 200px;
      }
    }

    .rightSide {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: 800px) {
        display: none;
      }

      .title {
        font-size: 30px;
        padding-bottom: 10px;
      }

      .description {
        font-size: 20px;
        padding-bottom: 60px;
      }
    }
  }
}