.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 20px;

  .contentContainer {
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    .textContainer {
      width: 50%;
    }
  }

  .line {
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 20px;
    height: 0.1vh;
    background-color: var(--green);
  }
}