.container {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: Poppins, sans-serif;

  @media screen and (max-width: 1000px) {
    height: auto;
  }

  .centerContainer {
    width: 90%;
    display: grid;
    grid-template-columns: 0.5fr 0.4fr;
    justify-content: space-between;

    @media (max-width: 700px) {
      grid-template-columns: none;
      grid-template-areas: 
      'text'
      'image';
      width: 70%;
    }

    @media (max-width: 450px) {
      width: 90%;
    }
    
    .leftSide {
    
      @media (max-width: 700px) {
        grid-area: image;
      }
    }

    .rightSide {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media (max-width: 700px) {
        grid-area: text;
      }

      .title {
        font-size: 30px;
        padding-bottom: 10px;

        @media screen and (max-width: 1000px) {
          font-size: 23px;
          text-align: center;
        }
      }

      .description {
        font-size: 20px;
        margin-bottom: 60px;

        @media screen and (max-width: 1000px) {
          font-size: 16px;
          text-align: center;
          margin-bottom: 0px;
        }
      }

      .buttonContainer {
        @media (max-width: 1000px) {
          display: flex;
          justify-content: center;
        }

        .button {
          cursor: pointer;
          width: 300px;
          display: flex;
          justify-content: center;
          padding: 10px 30px 10px 30px;
          color: white;
          background-color: var(--blue);
          border-radius: 10px;
          font-size: 17px;
          margin-top: 40px;

          @media (max-width: 1000px) {
            width: 250px;
          }

          @media screen and (max-width: 700px) {
            display: none;
          }
        }
      }
    }
  }
}