.container {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;

    .slider {
        width: 100%;
        max-width: 600px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;

        .caseImage {
            width: 200px;
            height: 100%;
            background-color: orange;
        }

        .textBox {
            width: 400px;
            height: 100%;
            background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;

            .title {
                font-size: 18px;
                color: var(--black);
                font-weight: 500;
                font-family: "Poppins", sans-serif;
            }
        }
    }
}

