.container {
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid rgba(128, 128, 128, 0.555);
  border-radius: 10px;

  .cardImage {
    margin-top: 20px;
  }

  .description {
    font-size: 13px;
    margin-top: 20px;
    color: rgb(90, 89, 89);
  }

  .position {
    
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: black;
  }
}

.container:hover {
  background-color: rgba(55, 185, 55, 0.178);
}