.container {
  width: 100%;
  padding-top: 50px;
  padding-right: 120px;
  padding-left: 120px;
  padding-bottom: 50px;
  background-color: var(--footer-grey);
  font-family: Poppins, sans-serif;
  
  @media screen and (max-width: 1080px) {
    padding-left: 0px;
    padding-right: 0px;
  }

  .footerHeader {
    display: flex;
    flex-direction: column;

    .logoContainer {
      padding-left: 10px;
      padding-right: 10px;

      @media screen and (max-width: 1080px) {
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        justify-content: center;
      }
    }

    .line {
      margin-top: 10px;
      border: 1px solid var(--blue);
    }
  }
  .footerMain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 40px;
    
    .column {
      padding-left: 20px;
      padding-right: 20px;

      .title {
        font-weight: bold;
        font-size: 18px;
      }

      .content {
        padding-top: 20px;

        div {
          cursor: pointer;
          margin-top: 10px;
          margin-bottom: 10px;
          text-decoration: underline;
        }
      }
    }
  }
  .line {
    margin-top: 40px;
    border: 1px solid var(--blue);
  }

  .footerEnd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;

    @media screen and (max-width: 1080px) {
      padding-left: 20px;
      padding-right: 10px;
    }
    
    .info {
      display: flex;
      padding-top: 40px;

      div {
        margin-right: 20px;
        color: #505050;
        text-decoration: underline;

        @media screen and (max-width(750px)) {
          margin-right: 0px;
        }
      }
    }
  }
}