.container {
  height: 100vh;
  background-color: var(--l-green);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .wave {
    width: 100%;
    bottom: 0;
    position: absolute;
    background: rgb(125, 186, 88);
    background: linear-gradient(
      0deg,
      rgba(125, 186, 88, 1) 2%,
      transparent 13%
    );

    img {
      width: 100%;
    }
  }
}
