.container {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Poppins, sans-serif;
  text-align: center;

  @media screen and (max-width: 1400px) {
    height: 140vh;
  }


  .columnContainer {
    width: 70%;
    display: flex;
    flex-direction: column;

    .titleContainer {
      color: var(--green);
      font-size: 40px;
      font-weight: bold;
      padding-bottom: 60px;
    }

    .boxesContainer {
      width: 100%;

      .box {
        cursor: pointer;
        width: 100%;
        background-color: var(--green);
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
        color: white;
        font-size: 20px;
        border-radius: 20px;
      }

      .openQuestion {
        cursor: pointer;
        width: 100%;
        background-color: var(--blue);
        margin-top: -50px;
        margin-bottom: 30px;
        padding: 30px;
        color: rgb(255, 255, 255);
        font-size: 17px;
        border-radius: 0px 0px 20px 20px;
      }

      .openBox {
        cursor: pointer;
        width: 100%;
        background-color: var(--blue);
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
        color: white;
        font-size: 20px;
        border-radius: 20px;
      }
    }
  }
}
