.afterDivContainer {
    display: flex;
    justify-content: center;
  
  .afterDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 12vh;
    background-color: white;
    box-shadow: 0px 10px 50px 2px rgba(0, 96, 143, 0.25);
    border-radius: 20px;
    margin-top: -50px;
    font-family: Poppins, sans-serif;

    @media (max-width: 1220px) {
      width: 100%;
      margin-top: 0px;
      border-radius: 0px;
    }

    @media (max-width: 900px) {
      align-items: center;
      height: 40vh;
    }

    .centerRow {
      display: flex;

      @media (max-width: 900px) {
        flex-direction: column;
        height: auto;
        gap: 30px;
      }

      .firstRow {
        display: flex;

        .diagnosticImage {
          margin-right: 30px;
        }

        .columnContainer {
          display: flex;
          flex-direction: column;

          .title {
            font-weight: bold;
            font-size: 14px;
          }

          .subtitle {
            font-size: 12px;
          }
        }
      }

      .secondRow {
        display: flex;

        .diagnosticImage {
          margin-right: 30px;
        }

        .columnContainer {
          display: flex;
          flex-direction: column;

          .title {
            font-weight: bold;
            font-size: 14px;
          }

          .subtitle {
            font-size: 12px;
          }
        }
      }

      .thirdRow {

        .button {
          cursor: pointer;
          padding: 13px 80px 13px 80px;
          border: 1px solid var(--blue);
          border-radius: 10px;
          font-size: 12px;
          color: var(--blue);
          text-align: center;
          margin-left: 40px;
  
          @media (max-width: 1220px) {
            padding: 10px 50px 10px 50px;
            font-size: 12px;
            margin-left: 20px;
          }

          @media (max-width: 900px) {
            padding: 15px 40px 15px 40px;
            margin-left: 0px;
          }
        }
        .button:hover {
          background-color: var(--blue);
          color: white;
        }
      }

      .line {
        width: 1px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 50px;
        height: 50px;
        background-color: #7dba5893;

        @media (max-width: 900px) {
          display: none;
        }
      }
    }
  }
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: Poppins, sans-serif;
  margin-bottom: 80px;

  @media (max-width: 1260px) {
    height: auto;
    padding-bottom: 50px;
  }

  .lineContainer {
    display: flex;
    justify-content: center;
    .line {
      margin-top: 50px;
      margin-bottom: 50px;
      width: 2px;
      border-radius: 50px;
      height: 60px;
      background-color: #7dba5893;
    }
  }

  .subTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;

    @media (max-width: 500px) {
      font-size: 17px;
    }
  }

  .title {
    font-size: 50px;
    font-weight: bold;
    color: var(--green);
    text-align: center;

    @media (max-width: 500px) {
      font-size: 25px;
    }
  }

  .centerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;

    @media (max-width: 1260px) {
      margin-top: 30px;
    }

    .boxContainer {
      width: 80%;
      display: grid;
      grid-template-areas: 
      'box box box box'
      ;
      justify-content: space-around;
      gap: 20px;

      @media (max-width: 1100px) {
        justify-content: center;
        grid-template-areas: 
        'box box'
        ;
      }

      @media (max-width: 700px) {
        justify-content: center;
        grid-template-areas: 
        'box'
        ;
      }

      .box {
        width: 300px;
        padding: 40px;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
        border-radius: 20px;
        font-size: 50px;

        @media (max-width: 1300px) {
          width: 250px;
          padding: 30px;
          font-size: 30px;
          margin-top: 20px;
        }

        @media (max-width: 1100px) {
          width: 300px;
          padding: 40px;
          font-size: 40px;
          margin-top: 20px;
        }

        @media (max-width: 500px) {
          width: 250px;
          font-size: 35px;
        }

        .number {
          text-align: center;
          font-weight: bold;
          background: -webkit-linear-gradient(rgba(134, 192, 100, 1), rgba(41, 161, 220, 1));
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        .boxSubTitle {
          text-align: center;
          font-size: 20px;
          font-weight: bold;
          background: -webkit-linear-gradient(rgba(134, 192, 100, 1), rgba(41, 161, 220, 1));
          background-clip: text;
          -webkit-text-fill-color: transparent;

          @media (max-width: 1300px) {
            font-size: 18px;       
          }

          @media (max-width: 1100px) {
            font-size: 20px;       
          }

          @media (max-width: 500px) {
            font-size: 15px;
          }
        }
      }
    }
  }
}